.hero {
  padding: 180px 0 200px;
  position: relative;
  &::before {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    content: "";
    background: linear-gradient(90deg, #05699f, #312795 50%);
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    &-foot {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 2;
      img {
        width: 100%;
        max-height: 180px;
        min-height: 115px;
      }
    }

    & > img {
      @include fullImage;
      position: relative;
      z-index: 1;
    }
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    &-bg {
      position: absolute;
      top: 30%;
      right: 0;
      width: 130%;
      max-width: 664px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateX(-15%);
      pointer-events: none;
      img {
        width: 100%;
      }
    }
    &-content {
      width: calc(48% - 15px);
      max-width: 530px;
      padding-top: 30px;
      position: relative;
      z-index: 4;
      &.big {
        max-width: 730px;
        p {
          max-width: unset;
        }
      }
    }
    &-image {
      width: calc(49% - 15px);
      max-width: 820px;
      position: absolute;
      bottom: 0;
      right: 20px;
      z-index: 2;
    }
    &-family {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      transform: translateY(55%);
      pointer-events: none;

      img {
        width: 100%;
      }
    }
    &-row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      max-width: 500px;
    }
    h1 {
      margin-bottom: 35px;
    }
    p {
      margin-bottom: 55px;
      max-width: 540px;
    }
  }
  &Item {
    width: calc(20% - 8px);
    max-width: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    &.ex {
      transform: translateY(18%);
    }
    &.sm {
      width: calc(18% - 8px);
      max-width: 95px;
    }
    &.big {
      width: calc(42% - 8px);
      max-width: 187px;
      transform: translateY(15%);
    }
    img {
      width: 100%;
    }
  }
}
// 1620px
@mixin hero-xxxxxlg-xxxxxxlg {
  .hero {
    padding: 180px 0 230px;
    &__inner {
      padding: 0;
      &-image {
        width: calc(51% - 15px);
        right: 0;
      }
    }
  }
}
// 1380px
@mixin hero-xxxlg-xxxxlg {
  .hero {
    &__inner {
      &-image {
        width: calc(57% - 15px);
        max-width: 630px;
      }
      &-content {
        width: calc(43% - 15px);
      }
      h1 {
        margin-bottom: 24px;
      }
      p {
        margin-bottom: 30px;
      }
    }
  }
}
// 1180px
@mixin hero-xlg-xxlg {
  .hero {
    padding: 160px 0 200px;
  }
}
// 1024px
@mixin hero-lg-xlg {
  .hero {
    padding: 100px 0 150px;
    &::before {
      height: 15px;
    }
  }
}
// 930px
@mixin hero-md-lg {
  .hero {
    padding: 150px 0 31%;
    &__inner {
      flex-direction: column;
      &-image {
        width: 100%;
        max-width: unset;
        position: relative;
      }
      &-content {
        width: 100%;
        max-width: unset;
        padding: 0;
        margin-bottom: 50px;
        &.big {
          max-width: unset;
        }
        p {
          max-width: unset;
        }
      }
    }
  }
}
// 540px
@mixin hero-xsm-sm {
  .hero {
    padding: 110px 0 31%;
    &__bg {
      &-foot {
        img {
          width: unset;
          min-height: unset;
          height: 90px;
        }
      }
    }
    &::before {
      height: 10px;
    }
    &__inner {
      &-content {
        margin-bottom: 35px;
      }
      h1 {
        margin-bottom: 18px;
      }
      p {
        margin-bottom: 20px;
      }
    }
    &Item {
      width: calc(22% - 16px);
      &.big {
        width: calc(36% - 16px);
      }
      &.sm {
        width: calc(20% - 16px);
      }
    }
  }
}
.about {
  padding: 100px 0;
  &.big {
    padding: 190px 0 330px;
  }
  .auto__container {
    max-width: 1180px;
  }
  &Top {
    padding-bottom: 130px;
    &__inner {
      text-align: center;
      .button {
        width: 100%;
        max-width: 278px;
        margin: 95px auto 0;
      }
    }
  }
  &__inner {
    padding-left: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    &-bg {
      position: absolute;
      z-index: -1;
      top: 50%;
      left: 0;
      width: 80%;
      max-width: 880px;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: translateY(-50%);
      &.rev {
        img {
          transform: translateX(20%) scaleX(-1);
        }
      }
      &.right {
        left: unset;
        right: -2%;
      }
      &.center {
        left: 50%;
        transform: translate(-50%, -50%);
      }
      &.bottom {
        left: 50%;
        transform: translate(-50%, -30%);
      }
      img {
        width: 100%;
      }
    }
    &-image {
      width: calc(48% - 15px);
      max-width: 450px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.sm {
        max-width: 400px;
      }
      img {
        width: 100%;
      }
    }
    &-content {
      width: calc(52% - 15px);
      padding-top: 40px;
      display: flex;
      flex-direction: column;
      &.sm {
        max-width: 500px;
      }
      p {
        &.sm {
          max-width: 470px;
        }
      }
      .button {
        width: 100%;
        margin: 50px auto 0;
        max-width: 272px;
      }
    }
    h2 {
      margin-bottom: 60px;
    }
  }
}
// 1620px
@mixin about-xxxxxlg-xxxxxxlg {
  .about {
    &.big {
      padding: 150px 0 280px;
    }
    &__inner {
      padding: 0;
    }
  }
}
// 1380px
@mixin about-xxxlg-xxxxlg {
  .about {
    padding: 80px 0;
    &.big {
      padding: 120px 0 230px;
    }
    &__inner {
      h2 {
        margin-bottom: 40px;
      }
    }
    &Top {
      padding-bottom: 120px;
      .button {
        max-width: 222px;
        margin: 50px auto 0;
      }
    }
  }
}
// 1180px
@mixin about-xlg-xxlg {
  .about {
    padding: 60px 0;
    &.big {
      padding: 90px 0 180px;
    }
    &__inner {
      h2 {
        margin-bottom: 30px;
      }
    }
    &Top {
      padding-bottom: 80px;
    }
  }
}
// 930px
@mixin about-md-lg {
  .about {
    padding: 50px 0 30px;
    &.big {
      padding: 50px 0 140px;
    }
    &__inner {
      flex-direction: column;
      align-items: center;
      &-content {
        width: 100%;
        max-width: unset;
        order: -1;
        padding: 0;
        margin-bottom: 50px;
        &.sm {
          max-width: unset;
        }
        p {
          &.sm {
            max-width: unset;
          }
        }
        .button {
          max-width: 230px;
        }
      }
      &-image {
        width: 80%;
        max-width: unset;
        &.sm {
          max-width: unset;
        }
      }
      h2 {
        br {
          display: none;
        }
        span {
          display: block;
        }
      }
    }
  }
}
// 540px
@mixin about-xsm-sm {
  .about {
    &.big {
      padding: 40px 0 90px;
    }
    &Top {
      padding-bottom: 50px;
      &__inner {
        .button {
          max-width: 150px;
          margin-top: 35px;
        }
      }
    }
    &__inner {
      &-content {
        margin-bottom: 30px;
        .button {
          max-width: 200px;
          margin-top: 35px;
        }
      }
      h2 {
        margin-bottom: 20px;
      }
    }
  }
}
.payment {
  padding: 40px 0 130px;
  &__inner {
    background-color: #121e2d;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 7px 14px 0 rgba(3, 12, 51, 0.15),
      0 3px 6px 0 rgba(0, 0, 0, 0.2);
    &-header {
      padding-bottom: 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-weight: 500;
      }
    }
    &-row {
      display: flex;
    }
  }
  &Item {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    border: 2px solid rgba($white, 0.05);
    border-right: unset;
    border-left: unset;
    &:nth-child(2) {
      background-color: #242f3c;
    }
    &__title {
      width: 100%;
      padding: 40px 24px;
      &.bord {
        border-bottom: 2px solid rgba($white, 0.05);
      }
    }
    &__content {
      width: 100%;
      padding: 0 24px 40px;
      &-year {
        display: none;
      }
      &.active {
        .paymentItem__content {
          &-year {
            display: block;
          }
          &-month {
            display: none;
          }
        }
      }
    }
    &__price {
      padding-bottom: 40px;
    }
    h3 {
      margin-bottom: 30px;
    }
    p {
      max-width: 440px;
      margin: 0 auto;
    }
    .button {
      border-radius: 6px;
      font-weight: 400;
    }
  }
}
// 1380px
@mixin payment-xxxlg-xxxxlg {
  .payment {
    &Item {
      &__title {
        padding: 35px 20px 25px;
      }
      &__content {
        padding: 0 20px 35px;
      }
      &__price {
        padding-bottom: 35px;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}
// 1180px
@mixin payment-xlg-xxlg {
  .payment {
    padding: 40px 0 100px;
    &__inner {
      padding: 25px;
      &-header {
        padding-bottom: 30px;
      }
    }
    &Item {
      &__title {
        padding: 35px 20px 25px;
      }
      &__content {
        padding: 0 20px 35px;
      }
      &__price {
        padding-bottom: 35px;
      }
      h3 {
        margin-bottom: 20px;
      }
    }
  }
}
// 1024px
@mixin payment-lg-xlg {
  .payment {
    &__inner {
      padding: 20px;
      &-header {
        padding-bottom: 24px;
      }
    }
    &Item {
      &__title {
        padding: 24px 16px 20px;
      }
      &__content {
        padding: 0 15px 24px;
      }
      &__price {
        padding-bottom: 24px;
      }
      h3 {
        margin-bottom: 15px;
      }
    }
  }
}
// 930px
@mixin payment-md-lg {
  .payment {
    padding: 30px 0 70px;
    &__inner {
      &-header {
        padding-bottom: 20px;
      }
      &-row {
        flex-direction: column;
      }
    }
    &Item {
      width: 100%;
      &__title {
        padding: 28px 20px;
      }
      &__content {
        padding: 0 20px 28px;
      }
      &__price {
        padding-bottom: 28px;
      }
    }
  }
}
// 540px
@mixin payment-xsm-sm {
  .payment {
    padding: 20px 0 50px;
    .auto__container {
      padding: 0;
    }
    &__inner {
      border-radius: 0;
      &-header {
        flex-direction: column;
        align-items: center;
        h3 {
          margin-bottom: 15px;
        }
      }
    }
    &Item {
      .button {
        &.sm {
          font-size: 16px;
          padding: 10px 16px;
        }
      }
    }
  }
}