// 1620px
@include xxxxxlg-xxxxxxlg {
  h1,
  h2 {
    font-size: 36px;
  }
  body {
    font-size: 22px;
  }
  @include header-xxxxxlg-xxxxxxlg;
  @include hero-xxxxxlg-xxxxxxlg;
  @include about-xxxxxlg-xxxxxxlg;
  @include footer-xxxxxlg-xxxxxxlg;
}
// 1450px
@include xxxxlg-xxxxxlg {
  // @include hero-xxxxlg-xxxxxlg;
}
// 1380px
@include xxxlg-xxxxlg {
  h1,
  h2 {
    font-size: 34px;
    &.big {
      font-size: 36px;
      line-height: 100%;
    }
  }
  h3 {
    font-size: 26px;
    &.sm {
      font-size: 22px;
    }
    span {
      font-size: 16px;
      padding: 5px 12px;
      margin-left: 12px;
    }
  }
  p {
    &.sm {
      font-size: 18px;
    }
  }
  body {
    font-size: 20px;
  }
  .button {
    font-size: 24px;
    padding: 18px 22px;
    &.sm {
      font-size: 16px;
      padding: 12px 34px;
    }
  }
  @include header-xxxlg-xxxxlg;
  @include nav-xxxlg-xxxxlg;
  @include hero-xxxlg-xxxxlg;
  @include about-xxxlg-xxxxlg;
  @include payment-xxxlg-xxxxlg;
  @include footer-xxxlg-xxxxlg;
}
// 1250px
@include xlg-xxlg-extra {
  // @include hero-xlg-xxlg-extra;
}
// 1180px
@include xlg-xxlg {
  .auto__container {
    padding: 0 30px;
  }
  h1,
  h2 {
    font-size: 32px;
    &.big {
      font-size: 40px;
    }
  }
  h3 {
    font-size: 23px;
    &.sm {
      font-size: 18px;
    }
    span {
      font-size: 14px;
    }
  }
  p {
    &.sm {
      font-size: 15px;
    }
  }
  body {
    font-size: 17px;
  }
  .check {
    &__box {
      width: 42px;
      height: 21px;
      margin: 0 10px;
      span {
        border-width: 1px;
        &::before {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
  @include hero-xlg-xxlg;
  @include about-xlg-xxlg;
  @include payment-xlg-xxlg;
  @include footer-xlg-xxlg;
}
// 1024px
@include lg-xlg {
  ::-webkit-scrollbar {
    display: none;
  }
  h2 {
    &.big {
      font-size: 35px;
    }
  }
  .button {
    font-size: 22px;
    padding: 15px 20px;

  }
  @include header-lg-xlg;
  @include nav-lg-xlg;
  @include hero-lg-xlg;
  @include payment-lg-xlg;
}
// 930px
@include md-lg {
  h2 {
    &.big {
      font-size: 30px;
    }
  }
  @include hero-md-lg;
  @include about-md-lg;
  @include payment-md-lg;
  @include footer-md-lg;
}
// 750px
@include sm-md {
  .auto__container {
    padding: 0 20px;
  }
  h1,
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 19px;
    span {
      font-size: 12px;
      padding: 4px 8px;
      margin-left: 8px;
    }
  }
  .check {
    &__box {
      width: 33px;
      height: 16px;
      margin: 0 8px;
      span {
        &::before {
          width: 10px;
          height: 10px;
          left: 2px;
        }
      }
    }
    p {
      font-size: 13px;
    }
  }
  body {
    font-size: 15px;
  }

  // @include hero-sm-md;
}
// 650px
@include sm-md-extra {
  // @include hero-sm-md-extra;
}
// 540px
@include xsm-sm {
  h1,
  h2 {
    font-size: 22px;
    &.big {
      font-size: 25px;
    }
  }
  body {
    font-size: 14px;
  }
  .button {
    font-size: 18px;
    padding: 12px 16px;
  }
  @include header-xsm-sm;
  @include nav-xsm-sm;
  @include hero-xsm-sm;
  @include about-xsm-sm;
  @include payment-xsm-sm;
  @include footer-xsm-sm;
}
// 440px
@include xxsm-xsm {
  // @include hero-xxsm-xsm;
}
// 390px
@include xxxsm-xxsm {
  // @include hero-xxxsm-xxsm;
}
